<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>AutenticadorCliente</filter-name>
        <filter-class>sol.ser.AutenticadorCliente</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AutenticadorCliente</filter-name>
        <url-pattern>/clientes/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>sol.lis.BorradorPeticionesCambio</listener-class>
    </listener>
    <servlet>
        <servlet-name>BuscarArticulos</servlet-name>
        <servlet-class>sol.ser.BuscarArticulos</servlet-class>
        <init-param>
            <param-name>tamanioPagina</param-name>
            <param-value>12</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AreaCliente</servlet-name>
        <servlet-class>sol.ser.AreaCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambioContrasenia</servlet-name>
        <servlet-class>sol.ser.CambioContrasenia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditaCliente</servlet-name>
        <servlet-class>sol.ser.EditaCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FichaArticulo</servlet-name>
        <servlet-class>sol.ser.FichaArticulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>sol.ser.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoCliente</servlet-name>
        <servlet-class>sol.ser.NuevoCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuerdoContrasenia</servlet-name>
        <servlet-class>sol.ser.RecuerdoContrasenia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Salir</servlet-name>
        <servlet-class>sol.ser.Salir</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuscarArticulos</servlet-name>
        <url-pattern>/BuscarArticulos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AreaCliente</servlet-name>
        <url-pattern>/clientes/AreaCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambioContrasenia</servlet-name>
        <url-pattern>/CambioContrasenia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditaCliente</servlet-name>
        <url-pattern>/clientes/EditaCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FichaArticulo</servlet-name>
        <url-pattern>/FichaArticulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoCliente</servlet-name>
        <url-pattern>/NuevoCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuerdoContrasenia</servlet-name>
        <url-pattern>/RecuerdoContrasenia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Salir</servlet-name>
        <url-pattern>/Salir</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>paw.model.ExcepcionDeAplicacion</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <url-pattern>*.html</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>
